<div class="jumbotron">
  <img class="visible-lg-inline" src="/images/bann-sqil2015-1024x225-transp2.png" alt="SQIL 2015 - du 19 au 27 septembre">
  <img class="visible-md-inline visible-sm-inline img-responsive" src="/images/bann-sqil2015-1024x225-transp2.png" alt="SQIL 2015 - du 19 au 27 septembre">
  <img class="visible-xs-inline" src="/images/Logo-sqil2015-462x309-v2b.png" alt="SQIL 2015 - du 19 au 27 septembre">
  <h1>SQIL 2015 <br class="visible-xs-inline"><small>du 19 au 27 septembre</small></h1>
  <p class="lead">7<small><sup>e</sup></small> édition de la Semaine québécoise de l'informatique libre</p>
  <div class="progress">
    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
      Appel de projets
    </div>
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      <span class="sr-only">0% Complete</span>
    </div>
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      <span class="sr-only">0% Complete</span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid thetop">
    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h1 class="panel-title">Appel de projets - 11 juin 2015</h1>
        </div>
        <div class="panel-body">
          <p><a href='http://facil.qc.ca/'>FACIL</a> invite la population à organiser des activités pour la 7<small><sup>e</sup></small> édition de la SQIL qui se déroule du 19 au 27 septembre cette année.</p>
          <p>Quels genres d'activités?</p>
          <ul class="list-inline2">
            <li>Conférences sur des projets</li>
            <li>Ateliers sur des logiciels et systêmes d'exploitation libres </li>
            <li>Projections de films sur la culture libre</li>
            <li>Portes-ouvertes dans les entreprises de services en logiciels libres</li>
            <li>Lancements de projets</li>
            <li>Etc.</li>
          </ul>
          <p><b>Tout individu, groupe, association ou entreprise peut organiser</b> une activité en lien avec l'informatique libre, les logiciels libres et la culture libre en général, et l'inscrire à notre <a href="http://agendadulibre.qc.ca/">calendrier</a>. <a href="#contact"><b>Contactez nous!</b></a></p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1 class="panel-title">Activités du 19 au 27 septembre 2015</h1>
        </div>
        <div class="panel-body">
          <p>La SQIL démarre chaque année avec la Journée internationale des logiciels libres (JILL), soit le 3<small><sup>e</sup></small> samedi de septembre, et dure pendant 9 jours incluant deux fins de semaines. Le calendrier préliminaire des activités sera dévoilé d'ici quelques semaines.</p>
          <p><b><a href="#contact">Qu'attendez-vous pour soumettre vos activités?</a></b></p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h1 class="panel-title">Devenir commanditaire</h1>
        </div>
        <div class="panel-body">
          <p>Les commanditaires de la SQIL participent à encourager les communautés de l'informatique libre au Québec et offre du coup une excellente visibilité auprès de ces personnes.</p>
          <p><b><a href="#contact">Contactez nous pour en savoir plus sur les forfaits disponibles.</a></b></p>
        </div>
      </div>
    </div>

  </div>
  <div class="row-fluid">

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h1 class="panel-title">Historique de la SQIL</h1>
        </div>
        <div class="panel-body">
          <p>La première Semaine québécoise de l'informatique libre a eu lieu en 2004 et <a href="http://wiki.facil.qc.ca/view/Semaine_québécoise_de_l%27informatique_libre">s'est répétée</a> toutes les années jusqu'en 2008. Après une pause de quelques années, la SQIL est revenue en 2014 et la tradition se poursuit cette année.</p>
          <p>Des milliers de personnes ont participés à des centaines d'activités au cours des six dernières éditions de la SQIL. Voyez le <a href="http://wiki.facil.qc.ca/view/Semaine_québécoise_de_l%27informatique_libre">wiki</a> pour en savoir plus.</p>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">À propos de FACIL</h1>
        </div>
        <div class="panel-body">
          <p><b><a href="http://facil.qc.ca/">FACIL, pour l'appropriation collective de l'informatique libre</a></b> est une association québécoise qui fait la promotion de l'informatique libre depuis 2003.</p>
          <p>Depuis 2005, FACIL organise la Semaine québécoise de l'informatique libre et beaucoup plus. Les individus, associations et entreprises sont encouragés à devenir membre.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-danger" id="contact">
        <div class="panel-heading">
          <h1 class="panel-title">Nous contacter</h1>
        </div>
        <div class="panel-body">
          <p>N'hésitez pas à nous <a href="mailto:info@facil.qc.ca">contacter en privé</a> pour vous impliquer, si vous avez des questions, des suggestions ou encore si vous voulez devenir commanditaire de la SQIL.</p>
          <p>Nous avons une <a href="https://listes.koumbit.net/cgi-bin/mailman/listinfo/org-sqil.info">liste de discussion publique et ouverte</a> aux organisateurs d'activités.</p>
          <p>Vous pouvez aussi nous laisser un message vocal au <a href="tel:+18444432245">1-8-4444-FACIL (1-844-443-2245)</a>.</p>
        </div>
      </div>
    </div>


  </div>
</div>
