    <footer>
      <p>
        &copy; 2015 <a href='http://creativecommons.org/licenses/by-sa/4.0/deed.fr'><img src='/images/cc-by-sa.png' alt='Licence Creative Commons Attribution Partage dans les Mêmes Conditions 4.0 International' title='Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International'></a> Fait avec <span class='glyphicon glyphicon-heart'></span> par <a href='http://wiki.facil.qc.ca/view/Comité_FACIL_Médias/SQIL2015'>les organisateurs de la SQIL 2015</a> | <a href='http://facil.qc.ca/'>FACIL</a>
      </p>
    </footer>
  </body>
</html>
