<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="7e édition de la Semaine québécoise de l'informatique libre">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SQIL 2015 | <%= title %></title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
