@import "../../superhero.less";

.jumbotron {
  text-align: center;
  padding-bottom: 0px;
  background-color: @brand-info;
  color: @brand-warning;
  font-weight: bold;
  text-shadow: 1px 1px 2px blue;
}

footer {
  margin: 1em 0;
  text-align: center;
}

.panel-warning {
 box-shadow: 10px 5px 5px darken(@brand-warning, 25%);
}

.thetop {
 min-height: 31em;
}

.panel-info {
 box-shadow: 10px 5px 5px darken(@brand-info, 25%);
}

.panel-success {
 box-shadow: 10px 5px 5px darken(@brand-success, 25%);
}

.panel-default {
 box-shadow: 10px 5px 5px darken(@panel-default-text, 25%);
}

.panel-danger {
 box-shadow: 10px 5px 5px darken(@brand-danger, 25%);
 transition: 2s;
}

.panel-danger.active {
 background-color: @brand-danger;
 box-shadow: 30px 30px 30px darken(@brand-danger, 35%);
}

.panel-primary {
 box-shadow: 10px 5px 5px darken(@brand-primary, 25%);
}

.panel-title {
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}

a {
  color: @brand-info;
}




